body {
  text-align: center;
  background-image: url(../img/coffeebg.jpg);
  background-repeat: repeat;
}

.container {
  margin-top: 2rem;
  background-color: papayawhip;
  overflow: hidden;
  border-radius: 5px;
}

p {
  margin: 2rem;
  font-style: italic;
}

h1 {
  font-style: italic;
  font-weight: lighter;
}

img {
  margin-bottom: 2rem;
}
